
.container{
    border: 5px solid grey;
}

.btn{
    background: limegreen;
    margin: 20px;
    
}


body{
    background: darkslategrey;
    font-size: 20px;
    color: grey;
}

.add-btn{
    background: lime;
    width: 40px;
    height: 40px;
}

.app-title{
    color: rgb(228, 229, 230);
    font-size: 70px;
}
